h1{
	text-align: center;
	font-size: 60px;
	color: aliceblue;
}
a{
	color: black;
	background-color: rgb(206, 229, 236);
	border-radius: 5px;
	width: 10%;
}
a:hover{
	background-color: aliceblue;
	border-radius: 5px;
	
}
p{
	font-weight: bold;
	font-size: large;
}
hr{
	background-color:black;
	width:100%;
	height: 4px;
	border-width: 1px;
	border-color: black;
}
.text{
	color: black;
}
.font{
	width: 100%;
	
}

.container{
	text-align: center;
	padding: 60px 60px 60px 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: auto;
	text-align: center;

	
}
.box{
	background: rgba(251, 251, 251, 0.167);
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
	padding: 60px 60px 60px 60px;
	border-radius: 100px 15px;
	width: 40%;
	
}
body{

	background-image: linear-gradient(to left, rgba(206, 235, 234, 0), rgba(255,0,0,2));
	background-image: url('www.jpg');
	max-width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-size: 100%;

}
